{
 "singleQuote": true,
 "trailingComma": "es5",
 "jsxBracketSameLine": false,
 "printWidth": 500,
 "tabWidth": 1,
 "overrides": [
  {
   "files": ".js",
   "options": {
    "semi": false
   }
  }
 ]
}
