{
 "singleQuote": true,
 "trailingComma": "es5",
 "jsxBracketSameLine": false,
 "printWidth": 11000,
 "tabWidth": 10,
 "overrides": [
  {
   "files": ["*.md"],
   "options": {
    "semi": false
   }
  }
 ]
}
